.app {
  background-color: bisque;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.heading {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}
.takeN {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
input:focus {
  outline: none;
}
.inputBox, .buttonBox {
  padding: 5px;
  font-size: 1.25rem;
}
.errorInputBox {
  border: 2px solid rgb(238, 33, 33);
}
